body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1842px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:101px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:225px;
  width:180px;
  height:101px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:176px;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:108px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:106px;
  width:199px;
  height:108px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:195px;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:108px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:492px;
  width:199px;
  height:108px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:195px;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:82px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:323px;
  width:145px;
  height:82px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:141px;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:82px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:428px;
  width:145px;
  height:82px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:141px;
  word-wrap:break-word;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:82px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:531px;
  width:145px;
  height:82px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:141px;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:82px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:24px;
  width:145px;
  height:82px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:141px;
  word-wrap:break-word;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:82px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:116px;
  width:145px;
  height:82px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:141px;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:82px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:215px;
  width:145px;
  height:82px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:141px;
  word-wrap:break-word;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:82px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:634px;
  width:145px;
  height:82px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:141px;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:82px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:739px;
  width:145px;
  height:82px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:141px;
  word-wrap:break-word;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:65px;
  width:0px;
  height:0px;
}
#u11_seg0 {
  border-width:0px;
  position:absolute;
  left:-47px;
  top:-4px;
  width:47px;
  height:8px;
}
#u11_seg1 {
  border-width:0px;
  position:absolute;
  left:-47px;
  top:-4px;
  width:8px;
  height:208px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:256px;
  width:0px;
  height:0px;
}
#u12_seg0 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:-4px;
  width:47px;
  height:8px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:364px;
  width:0px;
  height:0px;
}
#u13_seg0 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-4px;
  width:57px;
  height:8px;
}
#u13_seg1 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-4px;
  width:8px;
  height:426px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:-103px;
  top:176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:780px;
  width:0px;
  height:0px;
}
#u14_seg0 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-4px;
  width:57px;
  height:8px;
}
#u14_seg1 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-4px;
  width:8px;
  height:5px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:-77px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:91px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:59px;
  width:161px;
  height:91px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:157px;
  word-wrap:break-word;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:91px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:160px;
  width:161px;
  height:91px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:157px;
  word-wrap:break-word;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:991px;
  top:72px;
  width:113px;
  height:64px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:109px;
  word-wrap:break-word;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:72px;
  width:113px;
  height:64px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:109px;
  word-wrap:break-word;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:1237px;
  top:72px;
  width:113px;
  height:64px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:109px;
  word-wrap:break-word;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:1360px;
  top:72px;
  width:113px;
  height:64px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:109px;
  word-wrap:break-word;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:1483px;
  top:72px;
  width:113px;
  height:64px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:109px;
  word-wrap:break-word;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:991px;
  top:174px;
  width:113px;
  height:64px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:109px;
  word-wrap:break-word;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:174px;
  width:113px;
  height:64px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:109px;
  word-wrap:break-word;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:1606px;
  top:72px;
  width:113px;
  height:64px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:109px;
  word-wrap:break-word;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:1237px;
  top:174px;
  width:113px;
  height:64px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:109px;
  word-wrap:break-word;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:1360px;
  top:174px;
  width:113px;
  height:64px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:109px;
  word-wrap:break-word;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:1483px;
  top:174px;
  width:113px;
  height:64px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:109px;
  word-wrap:break-word;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:1606px;
  top:174px;
  width:113px;
  height:64px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:109px;
  word-wrap:break-word;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:1729px;
  top:174px;
  width:113px;
  height:64px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:109px;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:1px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:108px;
  width:61px;
  height:1px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:2px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:203px;
  width:62px;
  height:1px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:94px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:525px;
  width:163px;
  height:94px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:159px;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:2px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:574px;
  width:77px;
  height:1px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:379px;
  width:143px;
  height:81px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:33px;
  width:139px;
  word-wrap:break-word;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:470px;
  width:143px;
  height:81px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:33px;
  width:139px;
  word-wrap:break-word;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:561px;
  width:143px;
  height:81px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:33px;
  width:139px;
  word-wrap:break-word;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:652px;
  width:143px;
  height:81px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:33px;
  width:139px;
  word-wrap:break-word;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:1129px;
  top:379px;
  width:143px;
  height:81px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:33px;
  width:139px;
  word-wrap:break-word;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:1129px;
  top:470px;
  width:143px;
  height:81px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:139px;
  word-wrap:break-word;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:1129px;
  top:561px;
  width:143px;
  height:81px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:139px;
  word-wrap:break-word;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:1129px;
  top:652px;
  width:143px;
  height:81px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:33px;
  width:139px;
  word-wrap:break-word;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:420px;
  width:0px;
  height:0px;
}
#u42_seg0 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-4px;
  width:20px;
  height:8px;
}
#u42_seg1 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-4px;
  width:8px;
  height:281px;
}
#u42_seg2 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:269px;
  width:20px;
  height:8px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:128px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:572px;
  width:0px;
  height:0px;
}
#u43_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:28px;
  height:8px;
}
#u43_seg1 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-4px;
  width:8px;
  height:5px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:65px;
  width:0px;
  height:0px;
}
#u44_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:21px;
  height:8px;
}
#u44_seg1 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-4px;
  width:8px;
  height:199px;
}
#u44_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:187px;
  width:21px;
  height:8px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:88px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:105px;
  width:0px;
  height:0px;
}
#u45_seg0 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-4px;
  width:14px;
  height:8px;
}
#u45_seg1 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-4px;
  width:8px;
  height:109px;
}
#u45_seg2 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:97px;
  width:14px;
  height:8px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:160px;
  width:0px;
  height:0px;
}
#u46_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:8px;
  height:6px;
}
#u46_seg1 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:-6px;
  width:52px;
  height:8px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:-10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:1729px;
  top:72px;
  width:113px;
  height:64px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:109px;
  word-wrap:break-word;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:160px;
  width:0px;
  height:0px;
}
#u48_seg0 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-4px;
  width:15px;
  height:8px;
}
#u48_seg1 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-4px;
  width:8px;
  height:394px;
}
#u48_seg2 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:382px;
  width:15px;
  height:8px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:-61px;
  top:185px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:276px;
  width:0px;
  height:0px;
}
#u49_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:55px;
  height:8px;
}
#u49_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-3px;
  width:8px;
  height:7px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:160px;
  width:0px;
  height:0px;
}
#u50_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:37px;
  height:8px;
}
#u50_seg1 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:-1px;
  width:8px;
  height:5px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:546px;
  width:0px;
  height:0px;
}
#u51_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:27px;
  height:8px;
}
#u51_seg1 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-1px;
  width:8px;
  height:5px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
