body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1473px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1292px;
  height:972px;
}
#u2709 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:109px;
  width:1291px;
  height:971px;
}
#u2709_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:173px;
}
#u2710 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:119px;
  width:344px;
  height:172px;
}
#u2710_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:173px;
}
#u2711 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:119px;
  width:344px;
  height:172px;
}
#u2711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:173px;
}
#u2712 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:119px;
  width:344px;
  height:172px;
}
#u2712_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:320px;
}
#u2713 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:325px;
  width:344px;
  height:319px;
}
#u2713_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:248px;
}
#u2714 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:680px;
  width:344px;
  height:247px;
}
#u2714_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u2715 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:180px;
  width:50px;
  height:50px;
}
#u2715_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:34px;
}
#u2716 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:190px;
  width:141px;
  height:33px;
  font-size:28px;
}
#u2716_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u2717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:56px;
}
#u2717 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:178px;
  width:80px;
  height:55px;
  font-size:48px;
  color:#FF0000;
}
#u2717_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u2718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:47px;
}
#u2718 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:184px;
  width:61px;
  height:46px;
}
#u2718_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:34px;
}
#u2719 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:189px;
  width:141px;
  height:33px;
  font-size:28px;
}
#u2719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u2720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:56px;
}
#u2720 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:178px;
  width:80px;
  height:55px;
  font-size:48px;
  color:#000000;
}
#u2720_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u2721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u2721 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:180px;
  width:50px;
  height:50px;
}
#u2721_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
}
#u2722 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:189px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u2722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:56px;
}
#u2723 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:178px;
  width:54px;
  height:55px;
  font-size:48px;
  color:#000000;
}
#u2723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u2724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:320px;
}
#u2725 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:325px;
  width:756px;
  height:319px;
}
#u2725_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:24px;
}
#u2726 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:349px;
  width:121px;
  height:23px;
  font-size:20px;
}
#u2726_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:2px;
}
#u2727 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:594px;
  width:610px;
  height:1px;
}
#u2727_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u2728 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:395px;
  width:1px;
  height:200px;
}
#u2728_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:171px;
}
#u2729 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:423px;
  width:34px;
  height:170px;
}
#u2729_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:99px;
}
#u2730 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:495px;
  width:34px;
  height:98px;
}
#u2730_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:39px;
}
#u2731 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:555px;
  width:34px;
  height:38px;
}
#u2731_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:118px;
}
#u2732 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:476px;
  width:34px;
  height:117px;
}
#u2732_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:88px;
}
#u2733 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:506px;
  width:34px;
  height:87px;
}
#u2733_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:171px;
}
#u2734 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:423px;
  width:34px;
  height:170px;
}
#u2734_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:118px;
}
#u2735 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:476px;
  width:34px;
  height:117px;
}
#u2735_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2736 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:603px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2736_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2737 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:603px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2737_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2738 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:603px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2738_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2739 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:603px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2739_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2740 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:603px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2740_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2741 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:603px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2741_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2742 {
  border-width:0px;
  position:absolute;
  left:868px;
  top:603px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2742_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:146px;
}
#u2743p000 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:39px;
  width:112px;
  height:6px;
  -webkit-transform:rotate(50deg);
  -moz-transform:rotate(50deg);
  -ms-transform:rotate(50deg);
  transform:rotate(50deg);
}
#u2743p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:114px;
  height:8px;
}
#u2743p001 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:65px;
  width:90px;
  height:6px;
  -webkit-transform:rotate(-19deg);
  -moz-transform:rotate(-19deg);
  -ms-transform:rotate(-19deg);
  transform:rotate(-19deg);
}
#u2743p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:8px;
}
#u2743p002 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:87px;
  width:136px;
  height:26px;
  -webkit-transform:rotate(-134deg);
  -moz-transform:rotate(-134deg);
  -ms-transform:rotate(-134deg);
  transform:rotate(-134deg);
}
#u2743p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:138px;
  height:28px;
}
#u2743p003 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:87px;
  width:110px;
  height:6px;
  -webkit-transform:rotate(-52deg);
  -moz-transform:rotate(-52deg);
  -ms-transform:rotate(-52deg);
  transform:rotate(-52deg);
}
#u2743p003_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:112px;
  height:8px;
}
#u2743p004 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:57px;
  width:104px;
  height:24px;
  -webkit-transform:rotate(-151deg);
  -moz-transform:rotate(-151deg);
  -ms-transform:rotate(-151deg);
  transform:rotate(-151deg);
}
#u2743p004_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:106px;
  height:26px;
}
#u2743p005 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:39px;
  width:108px;
  height:6px;
  -webkit-transform:rotate(-53deg);
  -moz-transform:rotate(-53deg);
  -ms-transform:rotate(-53deg);
  transform:rotate(-53deg);
}
#u2743p005_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:110px;
  height:8px;
}
#u2743.compound {
  width:0px;
  height:0px;
}
#u2743 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:399px;
  width:443px;
  height:145px;
}
#u2743_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2744 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:391px;
  width:17px;
  height:17px;
}
#u2744_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2745 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:468px;
  width:17px;
  height:17px;
}
#u2745_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2746 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:449px;
  width:17px;
  height:17px;
}
#u2746_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2747 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:528px;
  width:17px;
  height:17px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2747_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2748 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:442px;
  width:17px;
  height:17px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2748_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2749 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:479px;
  width:17px;
  height:17px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2749_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2750 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:396px;
  width:17px;
  height:17px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2750_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u2751 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:704px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u2751_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:165px;
}
#u2752 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:740px;
  width:301px;
  height:164px;
  font-size:18px;
}
#u2752_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  word-wrap:break-word;
}
#u2753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u2753 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:345px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u2753_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:229px;
}
#u2754 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:382px;
  width:155px;
  height:228px;
  font-size:20px;
  line-height:28px;
}
#u2754_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u2755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:229px;
}
#u2755 {
  border-width:0px;
  position:absolute;
  left:1232px;
  top:382px;
  width:155px;
  height:228px;
  font-size:20px;
  text-align:right;
  line-height:28px;
}
#u2755_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u2756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:148px;
}
#u2756 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:743px;
  width:46px;
  height:147px;
  font-size:16px;
}
#u2756_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2757 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:1471px;
  height:51px;
  overflow:hidden;
}
#u2757_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(70, 76, 91, 0.898039215686275);
  background-image:none;
}
#u2757_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2757_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(52, 152, 219, 1);
  background-image:none;
}
#u2757_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2757_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(237, 110, 77, 1);
  background-image:none;
}
#u2757_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2757_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(250, 187, 61, 1);
  background-image:none;
}
#u2757_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2757_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(170, 122, 179, 1);
  background-image:none;
}
#u2757_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2757_state5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(154, 208, 185, 1);
  background-image:none;
}
#u2757_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2757_state6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(234, 148, 190, 1);
  background-image:none;
}
#u2757_state6_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2757_state7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(193, 55, 74, 1);
  background-image:none;
}
#u2757_state7_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2758 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1291px;
  height:61px;
}
#u2759 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:50px;
  width:1290px;
  height:60px;
}
#u2759_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:1032px;
}
#u2760 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:180px;
  height:1031px;
}
#u2760_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:49px;
}
#u2761 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:161px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u2761_img.selected {
}
#u2761.selected {
}
#u2761_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u2762 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:31px;
}
#u2763 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:66px;
  width:160px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2763_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u2764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2764 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:74px;
  width:14px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u2764_img.mouseOver {
}
#u2764.mouseOver {
}
#u2764_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2765 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u2766 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2766_img.mouseOver {
}
#u2766.mouseOver {
}
#u2766_img.selected {
}
#u2766.selected {
}
#u2766_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u2767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u2767 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2767_img.mouseOver {
}
#u2767.mouseOver {
}
#u2767_img.selected {
}
#u2767.selected {
}
#u2767_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u2768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u2768 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2768_img.mouseOver {
}
#u2768.mouseOver {
}
#u2768_img.selected {
}
#u2768.selected {
}
#u2768_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u2769 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u2770 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:122px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u2770_img.mouseOver {
}
#u2770.mouseOver {
}
#u2770_img.selected {
}
#u2770.selected {
}
#u2770_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u2771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u2771 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:137px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2771_img.mouseOver {
}
#u2771.mouseOver {
}
#u2771_img.selected {
}
#u2771.selected {
}
#u2771_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2772 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u2773 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:164px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u2773_img.selected {
}
#u2773.selected {
}
#u2773_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u2774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u2774 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:183px;
  width:10px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2774_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u2775 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:179px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2775_img.mouseOver {
}
#u2775.mouseOver {
}
#u2775_img.selected {
}
#u2775.selected {
}
#u2775_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u2776 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:208px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u2776_img.mouseOver {
}
#u2776.mouseOver {
}
#u2776_img.selected {
}
#u2776.selected {
}
#u2776_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u2777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u2777 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:249px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u2777_img.mouseOver {
}
#u2777.mouseOver {
}
#u2777_img.selected {
}
#u2777.selected {
}
#u2777_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u2778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u2778 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#0033CC;
}
#u2778_img.mouseOver {
}
#u2778.mouseOver {
}
#u2778_img.selected {
}
#u2778.selected {
}
#u2778_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u2779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u2779 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:291px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u2779_img.mouseOver {
}
#u2779.mouseOver {
}
#u2779_img.selected {
}
#u2779.selected {
}
#u2779_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u2780 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u2781 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:333px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u2781_img.mouseOver {
}
#u2781.mouseOver {
}
#u2781_img.selected {
}
#u2781.selected {
}
#u2781_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u2782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u2782 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:348px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2782_img.mouseOver {
}
#u2782.mouseOver {
}
#u2782_img.selected {
}
#u2782.selected {
}
#u2782_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:320px;
}
#u2784 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:680px;
  width:756px;
  height:319px;
}
#u2784_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:24px;
}
#u2785 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:704px;
  width:121px;
  height:23px;
  font-size:20px;
}
#u2785_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:2px;
}
#u2786 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:949px;
  width:610px;
  height:1px;
}
#u2786_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u2787 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:750px;
  width:1px;
  height:200px;
}
#u2787_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:171px;
}
#u2788 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:778px;
  width:34px;
  height:170px;
}
#u2788_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:99px;
}
#u2789 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:850px;
  width:34px;
  height:98px;
}
#u2789_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:39px;
}
#u2790 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:910px;
  width:34px;
  height:38px;
}
#u2790_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:118px;
}
#u2791 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:831px;
  width:34px;
  height:117px;
}
#u2791_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:88px;
}
#u2792 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:861px;
  width:34px;
  height:87px;
}
#u2792_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:171px;
}
#u2793 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:778px;
  width:34px;
  height:170px;
}
#u2793_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:118px;
}
#u2794 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:831px;
  width:34px;
  height:117px;
}
#u2794_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2795 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:958px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2795_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2796 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:958px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2797 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:958px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2798 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:958px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2798_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2799 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:958px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2799_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2800 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:958px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2800_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2801 {
  border-width:0px;
  position:absolute;
  left:868px;
  top:958px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2801_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:146px;
}
#u2802p000 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:38px;
  width:112px;
  height:6px;
  -webkit-transform:rotate(50deg);
  -moz-transform:rotate(50deg);
  -ms-transform:rotate(50deg);
  transform:rotate(50deg);
}
#u2802p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:114px;
  height:8px;
}
#u2802p001 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:64px;
  width:90px;
  height:6px;
  -webkit-transform:rotate(-19deg);
  -moz-transform:rotate(-19deg);
  -ms-transform:rotate(-19deg);
  transform:rotate(-19deg);
}
#u2802p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:8px;
}
#u2802p002 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:88px;
  width:134px;
  height:24px;
  -webkit-transform:rotate(-133deg);
  -moz-transform:rotate(-133deg);
  -ms-transform:rotate(-133deg);
  transform:rotate(-133deg);
}
#u2802p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:136px;
  height:26px;
}
#u2802p003 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:88px;
  width:110px;
  height:6px;
  -webkit-transform:rotate(-52deg);
  -moz-transform:rotate(-52deg);
  -ms-transform:rotate(-52deg);
  transform:rotate(-52deg);
}
#u2802p003_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:112px;
  height:8px;
}
#u2802p004 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:58px;
  width:104px;
  height:24px;
  -webkit-transform:rotate(-151deg);
  -moz-transform:rotate(-151deg);
  -ms-transform:rotate(-151deg);
  transform:rotate(-151deg);
}
#u2802p004_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:106px;
  height:26px;
}
#u2802p005 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:38px;
  width:108px;
  height:6px;
  -webkit-transform:rotate(-53deg);
  -moz-transform:rotate(-53deg);
  -ms-transform:rotate(-53deg);
  transform:rotate(-53deg);
}
#u2802p005_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:110px;
  height:8px;
}
#u2802.compound {
  width:0px;
  height:0px;
}
#u2802 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:754px;
  width:443px;
  height:145px;
}
#u2802_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2803 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:746px;
  width:17px;
  height:17px;
}
#u2803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2804 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:823px;
  width:17px;
  height:17px;
}
#u2804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2805 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:804px;
  width:17px;
  height:17px;
}
#u2805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2806 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:883px;
  width:17px;
  height:17px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2807 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:797px;
  width:17px;
  height:17px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2807_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2808 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:834px;
  width:17px;
  height:17px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2808_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2809 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:751px;
  width:17px;
  height:17px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2809_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
